<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
    <header id="header">
        <h1><a href="/">MembersOnly</a></h1>
        <% if (user) { %>
            <div class="button-div">
                <% if (!user.member) { %>
                    <button><a href="/become-member">Become a Member</a></button>
                    <% } %>
                        <button><a href="/create-message">New Message</a></button>
                        <div tabindex="0" class="account-dropdown">
                            <div class="dropdown-button">
                                <div class="account-info">
                                    <div>Signed in as</div>
                                    <div class="full_name">
                                        <%= user.full_name %>
                                    </div>
                                    <div class="email">
                                        <%= user.username %>
                                    </div>
                                </div>
                                <div class="account-membership">
                                    <div>Membership status</div>
                                    <div class="member">
                                        <% if (user && user.admin) {%>
                                            Admin
                                            <%} else if (user && user.member) { %>
                                                Member
                                                <% } else { %>
                                                    user
                                                    <%} %>
                                    </div>
                                </div>
                                <button class="log-out-button"><a href="/log-out">Log Out</a></button>
                            </div>
                        </div>
            </div>
            <% } else { %>
                <div class="button-div">
                    <button><a href="/sign-in">Sign In</a></button>
                    <button><a href="/sign-up">Sign Up</a></button>
                </div>
                <% } %>
    </header>

    <%- content %>

</body>

</html>